.home-container{
    padding: 5rem 0;
}
.home-img{
    background-image: url('../../images/sports-shoe4 (1).png');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
   background-position: center;
}
.products-collection {
text-align: center;
padding: 1rem;

}
.products-collection a{
    background-color: #f2f4f6;
    padding: 1rem;
    border-radius: 2rem;
}