.products {
  max-width: 1264px;
  width: 100%;
  height: auto;
  background-color: #f8f6f3;
  position: relative;
  top: 60px;
  padding: 2rem 0;
}

.prodcuts_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}
.filter_section {
  /* margin-top: 15.5rem; */
  flex-basis: 25%;
  border-right: 1px solid gray;
}
.prodcuts_listing {
  flex-basis: 75%;
  min-height: 100vh;

  .page_navigation {
    width: 100%;
    margin: 2rem;
    font-size: 1.5rem;
    line-height: 3;

    & a {
      color: black;
    }
  }

  .prodcuts_section {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .filter_section {
    display: none;
  }
}
